<!-- Uses base.html template as base -->
{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}Novels{% endblock %}
</head>

<body>
    {% block signin %}
    <div style="padding-right: 1000px">
        <button class="btn btn-outline-success my-2 my-sm-0"
            onclick="window.location.href='{{url_for('categoryHomePage')}}';">Home</button>
    </div>
    <!-- Show login button when user logs out -->
    {% if login == 0 %}
    <div style="padding-left: 1100px, align-self">
        <button class="btn btn-outline-success my-2 my-sm-0"
            onclick="window.location.href='{{url_for('showLogin')}}';">Login</button>
    </div>
    {% endif %}
    <!-- Show logout button when user logs in -->
    {% if login == 1 %}
    <div style="padding-left: 1100px, align-self">
        <button class="btn btn-outline-success my-2 my-sm-0"
            onclick="window.location.href='{{url_for('disconnect')}}';">Logout</button>
    </div>
    {% endif %}

    {% endblock %}

    {% block content %}
    <br>
    <div class="row">
        <div class="col-md-6" style="padding-left: 50px">
            <strong>Novels by</strong>
            <h1><i>{{author.name}}</i></h1>
            <p><Strong>Select a novel to know more!</Strong></p>
        </div>
    </div>

    <br>
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-sm-4" style="padding-left: 50px">
            <button type="button" class="btn btn-success"
                onclick="window.location.href='{{url_for('itemNew', author_id = author.id)}}';">Add Novel</button>
        </div>
    </div>
    <br>
    <br>
    <ul>
        <!-- Novel details -->

        <div class="row">
            {% if novels %}
            {% for novel in novels %}
            <div class="col-md-4">
                <li><a href="{{url_for('categoryDescription', author_id = author.id, novel_id = novel.id)}}">
                        <h5 style="text-transform: capitalize">{{ novel.name }}</h5>
                    </a>
                </li>
                Published Year : <h6>{{ novel.year }}</h6>
                <!-- Display edit and delete buttons only if user is logged in -->
                {% if novel.user_id == creator_id %}
                <button type="button" class="btn btn-primary"
                    onclick="window.location.href='{{url_for('itemEdit', author_id = author.id, novel_id = novel.id)}}';">Edit</button>
                <button type="button" class="btn btn-primary"
                    onclick="window.location.href='{{url_for('itemDelete', author_id = author.id, novel_id = novel.id)}}';">Delete</button>
                {% endif %}
                {% if novel.user_id != creator_id %}
                <!-- Button to Open the Modal -->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                    Edit
                </button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                    Delete
                </button>
                {% endif %}
                <br>
                <br>
            </div>
            {% endfor %}
            {% endif %}
            {% if not novels %}
            <h1>
                Please add Novels!
            </h1>
            {% endif %}

            <!-- The Modal -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">No Access</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <ul>
                                <li>Please login to modify novels!</li>
                                <li>Post login in, you can edit or delete novels posted by you.</li>
                            </ul>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Click me!</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </ul>

    </div>
    </div>


    {% endblock %}



</body>

</html>