<!-- Uses base.html template as base -->
{% extends "base.html" %}
{% block title %}Authors{% endblock %}

{% block content %}
<!-- Display flash messages -->
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="conatainer">
    <div class="row">
        <div class="col-sm-12">
            <ul>
                {% for message in messages %}
                <li> <strong> {{ message }} </strong> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endif %}
{% endwith %}

<div class="container">


    <div class="row">

        <div class="col-sm-6" style="background-color: darkkhaki">
            <br>
            <div class="row">
                <div class="col-md-8">
                    <h1><i>Authors</i></h1>(Click on Authors and start adding novels)
                </div>
            </div>

            <br>
            <!-- Authors list -->
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        {% for author in authors %}

                        <li><a href="{{url_for('categoryDetail', author_id = author.id)}}">
                                <h5 style="text-transform: capitalize">{{ author.name }}</h5>
                            </a></li>

                        <br>
                        <br>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-sm-6">
            <div class="container" style="color: purple">
                <br>
                <br>
                <div class="row">
                    <div class="col-md-10">
                        <h2>Newly added!</h2>
                    </div>
                </div>

                <br>
                <!-- Latest novels list -->
                <div class="row">
                    <div class="col-md-10">
                        <ul>
                            {% if not latest %}
                            <h2>Please add novels!</h2>
                            {% endif %}
                            {% for i in latest %}
                            <li style="text-transform: capitalize"><strong>{{i['novel']}}</strong>
                                <i>({{i['author']}})</i></li>
                            <br>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>

{% endblock %}


{% block signin %}
<!-- Show login button when user logs out -->
{% if login == 0 %}
<div style="padding-left: 1100px, align-self">
    <button class="btn btn-outline-success my-2 my-sm-0"
        onclick="window.location.href='{{url_for('showLogin')}}';">Login</button>
</div>
{% endif %}
<!-- Show logout button when user logs in -->
{% if login == 1 %}
<div style="padding-left: 1100px, align-self">
    <button class="btn btn-outline-success my-2 my-sm-0"
        onclick="window.location.href='{{url_for('disconnect')}}';">Logout</button>
</div>
{% endif %}

{% endblock %}