<!-- Uses base.html template as base -->
{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New</title>
</head>

<body>
    {% block content %}
    <br>
    <div class="row">
        <div class="col-sm-6" style="padding-left: 50px">
            <strong>New Novel by</strong><h2> {{author.name}}</h2>
        </div>
    </div>

    <br>
    <!-- New novel form -->
    <form action="" method='POST'>
        <div class="container">
            <div class="row">


                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="Input1">Name</label>
                        <input class="form-control" type="text" id="Input1" name="newName" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="Input2">Year</label>
                        <input class="form-control" type="text" id="Input2" name="newYear" placeholder="" required>
                    </div>
                    <div class="form-group">
                        <label for="Input3">Description</label>
                        <input class="form-control" type="textarea" id="Input3" name="newDescription" placeholder=""
                            required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>

                    <button type="button" class="btn btn-danger"
                        onclick="window.location.href='{{url_for('categoryDetail', author_id = author.id)}}';">Cancel</button>

                </div>
            </div>


        </div>
    </form>
    {% endblock %}
</body>

</html>